openapi: 3.2.0
info:
  title: Squarespace Orders API
  version: '1.0'
  description: 'Operations tagged Orders across 2 of this provider''s published API definitions: squarespace-commerce-api-v2-openapi.json, squarespace-orders-api-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.squarespace.com
  description: Commerce API
- url: https://api.squarespace.com/1.0
  description: Production Server
tags:
- name: Orders
  x-zudoku-collapsed: true
paths:
  /1.0/commerce/orders:
    get:
      description: Retrieves information about all orders. Orders can be filtered by Customer ID and date ranges. The response contains order information in an Order, up to 50 Orders ordered by their modification date (modifiedOn), and supports dynamic cursors for pagination.
      operationId: getOrders
      parameters:
      - description: Used to filter Orders by Customer ID.
        in: query
        name: customerId
        required: false
        schema:
          type: string
      - description: Time-boxes the request to Orders that were modified after a given ISO 8601 UTC date and time string (YYYY-MM-DDThh:mm:ss.sZ). Required when modifiedBefore is passed; cannot be used with cursor.
        in: query
        name: modifiedAfter
        required: false
        schema:
          type: string
      - description: Time-boxes the request to Orders that were modified before a given ISO 8601 UTC date and time string (YYYY-MM-DDThh:mm:ss.sZ). Required when modifiedAfter is passed; cannot be used with cursor.
        in: query
        name: modifiedBefore
        required: false
        schema:
          type: string
      - description: Identifies where the next page of results should begin. Should be the value of pagination.nextPageCursor from a previous response. Cannot be used with other parameters.
        in: query
        name: cursor
        required: false
        schema:
          type: string
      - description: Used to filter Orders by fulfillment status. Values may be PENDING, FULFILLED, or CANCELED.
        in: query
        name: fulfillmentStatus
        required: false
        schema:
          type: string
      - description: 'Used to filter Orders by payment state. Accepts a comma-separated list of values. Possible values are: NOT_CHARGED, AUTHORIZED, PAID, REFUNDED, PENDING, FAILED, REFUND_PENDING, REFUND_FAILED, PARTIALLY_PAID. If not specified, defaults to NOT_CHARGED, AUTHORIZED, PAID, and REFUNDED.'
        in: query
        name: paymentStates
        required: false
        schema:
          type: string
      - in: header
        name: Authorization
        required: true
        description: API key or OAuth access token
        schema:
          type: string
          default: Bearer YOUR_API_KEY_OR_OAUTH_TOKEN
      - in: header
        name: User-Agent
        required: true
        description: User Agent
        schema:
          type: string
          default: YOUR_CUSTOM_APP_DESCRIPTION
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderListResponse'
          description: A paginated list of orders.
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardErrorPayload'
          description: Bad request. The cursor parameter contains an invalid value, cursor was specified with other parameters, modifiedAfter or modifiedBefore is not a valid ISO 8601 UTC date and time string, paymentStates is not a valid value, modifiedBefore occurred before or at the same time as modifiedAfter, fulfillmentStatus is not one of the recognized values, or modifiedAfter or modifiedBefore was specified without the other parameter.
      summary: List orders
      tags:
      - Orders
      security:
      - Authorization: []
    post:
      description: Creates an order using information from a third-party sales channel. A successful request creates an Order resource.
      operationId: createOrder
      parameters:
      - description: Idempotency key to prevent duplicate order creation.
        in: header
        name: Idempotency-Key
        required: true
        schema:
          type: string
      - in: header
        name: Authorization
        required: true
        description: API key or OAuth access token
        schema:
          type: string
          default: Bearer YOUR_API_KEY_OR_OAUTH_TOKEN
      - in: header
        name: User-Agent
        required: true
        description: User Agent
        schema:
          type: string
          default: YOUR_CUSTOM_APP_DESCRIPTION
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateOrderRequest'
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order'
          description: The created order.
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardErrorPayload'
          description: Bad request. The request body does not conform to the required specification, the Idempotency-Key header is missing or invalid, or the provided Idempotency-Key has already been used by another request bearing a different body.
        '409':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardErrorPayload'
          description: Conflict. A request using the provided Idempotency-Key is already in progress, or one or more specified product variants have insufficient stock.
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardErrorPayload'
          description: Too many requests. The rate limit for this endpoint has been exceeded.
      summary: Create order
      tags:
      - Orders
      security:
      - Authorization: []
    servers:
    - url: https://api.squarespace.com
      description: Commerce API
  /1.0/commerce/orders/{id}:
    get:
      description: Retrieves information for a specific order. The response contains order information in an Order.
      operationId: getOrder
      parameters:
      - description: Specifies the Order to retrieve.
        in: path
        name: id
        required: true
        schema:
          type: string
      - in: header
        name: Authorization
        required: true
        description: API key or OAuth access token
        schema:
          type: string
          default: Bearer YOUR_API_KEY_OR_OAUTH_TOKEN
      - in: header
        name: User-Agent
        required: true
        description: User Agent
        schema:
          type: string
          default: YOUR_CUSTOM_APP_DESCRIPTION
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order'
          description: The requested order.
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardErrorPayload'
          description: Bad request. The id is not in the expected format.
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardErrorPayload'
          description: The requested Order was not found.
      summary: Get order
      tags:
      - Orders
      security:
      - Authorization: []
    servers:
    - url: https://api.squarespace.com
      description: Commerce API
  /1.0/commerce/orders/{id}/fulfillments:
    post:
      description: Updates the status of a specific order to fulfilled, with options to include shipment information and send a customer notification.
      operationId: fulfillOrder
      parameters:
      - description: Specifies the Order to update.
        in: path
        name: id
        required: true
        schema:
          type: string
      - in: header
        name: Authorization
        required: true
        description: API key or OAuth access token
        schema:
          type: string
          default: Bearer YOUR_API_KEY_OR_OAUTH_TOKEN
      - in: header
        name: User-Agent
        required: true
        description: User Agent
        schema:
          type: string
          default: YOUR_CUSTOM_APP_DESCRIPTION
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrderFulfillmentRequest'
      responses:
        '204':
          description: No content. The order was successfully fulfilled.
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardErrorPayload'
          description: Bad request. One or more trackingUrls are invalid, or one or more required fields are missing.
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardErrorPayload'
          description: The requested Order was not found.
        '409':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardErrorPayload'
          description: Conflict. A request using the provided Order is already in progress.
      summary: Fulfill order
      tags:
      - Orders
      security:
      - Authorization: []
    servers:
    - url: https://api.squarespace.com
      description: Commerce API
  /commerce/orders:
    servers:
    - url: https://api.squarespace.com/1.0
      description: Production Server
    get:
      operationId: listOrders
      summary: Retrieve All Orders
      description: Returns a paginated list of orders for the authenticated merchant site. By default returns up to 50 orders per page. Results can be filtered by modification date using modifiedAfter and modifiedBefore parameters. Use the cursor parameter from the previous response's pagination.nextPageCursor to retrieve subsequent pages.
      tags:
      - Orders
      parameters:
      - $ref: '#/components/parameters/cursor'
      - name: modifiedAfter
        in: query
        description: ISO 8601 UTC date-time string. Only returns orders modified after this date and time.
        required: false
        schema:
          type: string
          format: date-time
      - name: modifiedBefore
        in: query
        description: ISO 8601 UTC date-time string. Only returns orders modified before this date and time.
        required: false
        schema:
          type: string
          format: date-time
      - name: fulfillmentStatus
        in: query
        description: Filter orders by fulfillment status
        required: false
        schema:
          type: string
          enum:
          - PENDING
          - FULFILLED
          - CANCELED
      responses:
        '200':
          description: Successful response with paginated list of orders
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: array
                    items:
                      $ref: '#/components/schemas/Order_2'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
      - bearerAuth: []
    post:
      operationId: createOrder
      summary: Create an Order
      description: Creates a new order on the merchant site. This endpoint is primarily used to import orders from third-party sales channels into Squarespace. The order must include line items, customer information, and address details. Creating an order does not process payment; it records the order as already completed.
      tags:
      - Orders
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateOrderRequest_2'
      responses:
        '200':
          description: Order created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order_2'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
      - bearerAuth: []
  /commerce/orders/{orderId}:
    servers:
    - url: https://api.squarespace.com/1.0
      description: Production Server
    get:
      operationId: getOrder
      summary: Retrieve a Specific Order
      description: Retrieves detailed information for a specific order by its unique identifier. Returns the full Order resource object including line items, customer data, addresses, fulfillments, and payment details.
      tags:
      - Orders
      parameters:
      - $ref: '#/components/parameters/orderId'
      responses:
        '200':
          description: Successful response with order details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order_2'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
      - bearerAuth: []
  /commerce/orders/{orderId}/fulfillments:
    servers:
    - url: https://api.squarespace.com/1.0
      description: Production Server
    post:
      operationId: fulfillOrder
      summary: Fulfill an Order
      description: Marks one or more line items in an order as fulfilled and optionally records shipment tracking information. This updates the fulfillment status of the specified line items and can trigger order fulfillment notifications to the customer if configured.
      tags:
      - Orders
      parameters:
      - $ref: '#/components/parameters/orderId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FulfillOrderRequest'
      responses:
        '200':
          description: Order fulfillment recorded successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order_2'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
      - bearerAuth: []
components:
  schemas:
    LineItem:
      type: object
      properties:
        customizations:
          type: array
          description: Array of form data submitted via a product's custom form prior to being added to the cart.
          items:
            $ref: '#/components/schemas/FormItem'
        height:
          type: number
          description: Shipping height of the physical product variant. 0.0 when not specified or when the variant is not a physical product.
          format: float
          examples:
          - 4
        id:
          type: string
          description: Unique line item id.
          examples:
          - 585d4975dee9f31a60284a16
        imageUrl:
          type: string
          description: URL of the primary image for the item.
          examples:
          - https://static.squarespace.com/universal/commerce/images/brine-32oz-spring-mix-v2.jpg?format=300w
        length:
          type: number
          description: Shipping length of the physical product variant. 0.0 when not specified or when the variant is not a physical product.
          format: float
          examples:
          - 3
        lineItemType:
          type: string
          description: Product type of the item.
          examples:
          - PHYSICAL_PRODUCT
        productId:
          type: string
          description: Unique product id; unless null, every line item with a variantId is a variant of a product with productId.
          examples:
          - 565c8f3da7c8a3cf71d5fd0a
        productName:
          type: string
          description: Name of the purchased product.
          examples:
          - Product
        quantity:
          type: integer
          description: Amount of the item purchased.
          format: int32
          examples:
          - 1
        sku:
          type: string
          description: Stock keeping unit (SKU) code assigned by the Squarespace merchant for a variant. Null for digital products.
          examples:
          - SQ3381024
        unitPricePaid:
          $ref: '#/components/schemas/MonetaryAmount'
        variantId:
          type: string
          description: Unique id of the ProductVariant sold. Populated for physical, service, or gift card line items created on or after May 28, 2019.
          examples:
          - 88c16ee4-547b-445e-a392-bded9991ae30
        variantOptions:
          type: array
          description: Array of variant options; represents variant choices made by the customer. Null for download and gift card products.
          items:
            $ref: '#/components/schemas/VariantOption'
        weight:
          type: number
          description: Shipping weight of the physical product variant. 0.0 when not specified or when the variant is not a physical product.
          format: float
          examples:
          - 1
        width:
          type: number
          description: Shipping width of the physical product variant. 0.0 when not specified or when the variant is not a physical product.
          format: float
          examples:
          - 2
      description: Array of purchased line items; line items describe what product or product variant was purchased, how many of that item were purchased, and additional details.
    CreateDiscountLineRequest:
      type: object
      properties:
        amount:
          $ref: '#/components/schemas/MonetaryAmount'
        name:
          type: string
        promoCode:
          type: string
      description: Array of discount line items. Describes the promotions redeemed during checkout.
    MonetaryAmount:
      type: object
      properties:
        currency:
          type: object
          description: ISO 4217 currency code.
          properties:
            currencyCode:
              type: string
            defaultFractionDigits:
              type: integer
              format: int32
            displayName:
              type: string
            numericCode:
              type: integer
              format: int32
            numericCodeAsString:
              type: string
            symbol:
              type: string
          examples:
          - USD
        value:
          type: number
          description: Decimal monetary value.
          examples:
          - 49.99
      description: A monetary amount with currency code and decimal value.
    ShippingLine:
      type: object
      properties:
        amount:
          $ref: '#/components/schemas/MonetaryAmount'
        method:
          type: string
          description: Description of the shipping option
          examples:
          - UPS Ground
      description: Array of shipping line items; describes the shipping options chosen at checkout.
    CreateOrderInventoryBehavior:
      type: string
      description: Indicates whether to deduct stock quantity for the product variant upon Order creation. Values may be DEDUCT or SKIP. Defaults to SKIP.
      enum:
      - DEDUCT
      - SKIP
    Fulfillment:
      type: object
      properties:
        carrierName:
          type: string
          description: Name of the carrier handling the shipment.
          examples:
          - FedEx
        service:
          type: string
          description: Carrier's level of service for shipping.
          examples:
          - Same-Day Delivery
        shipDate:
          type: string
          description: ISO 8601 UTC date and time string; represents the moment the fulfillment was shipped.
          format: date-time
          examples:
          - '2017-01-29T22:19:26.98Z'
        trackingNumber:
          type: string
          description: Carrier's parcel tracking number.
          examples:
          - '103932814692659'
        trackingUrl:
          type: string
          description: URL provided by the carrier to track the shipment.
          examples:
          - https://www.fedex.com/apps/fedextrack/?tracknumbers=103932814692659
      description: Array of shipping fulfillments; describes shipment information for the order.
    ShopperFulfillmentNotificationBehavior:
      type: string
      description: Indicates whether to send a fulfillment notification email to the customer. Value may be SEND or SKIP.
      enum:
      - SEND
      - SKIP
    Order:
      type: object
      properties:
        billingAddress:
          $ref: '#/components/schemas/Address'
        channel:
          type: string
          description: 'Where the order originated; possible values are: web and pos.'
          examples:
          - web
        channelName:
          type: string
          description: Name of the third-party sales channel.
          examples:
          - Faire Wholesale
        createdOn:
          type: string
          description: ISO 8601 UTC date and time string; represents the moment when the order was placed.
          format: date-time
          examples:
          - '2016-12-23T15:58:07.187Z'
        customerEmail:
          type: string
          description: Email address entered at checkout or, for recurring subscription orders, the customer's current email address.
          examples:
          - foo@example.com
        customerId:
          type: string
          description: Unique customer id.
          examples:
          - 585d498fdee9f31a60284a38
        discountLines:
          type: array
          description: Array of discount line items; describes the promotions redeemed during checkout.
          items:
            $ref: '#/components/schemas/DiscountLine'
        discountTotal:
          $ref: '#/components/schemas/MonetaryAmount'
        externalOrderReference:
          type: string
          description: Order reference identifier used by the third-party sales channel.
          examples:
          - EXT-98765
        formSubmission:
          type: array
          description: Array of form data submitted via the checkout page.
          items:
            $ref: '#/components/schemas/FormItem'
        fulfilledOn:
          type: string
          description: ISO 8601 UTC date and time string; represents the moment the order was fulfilled.
          format: date-time
        fulfillmentStatus:
          $ref: '#/components/schemas/FulfillmentStatus'
        fulfillments:
          type: array
          description: Array of shipping fulfillments; describes shipment information for the order.
          items:
            $ref: '#/components/schemas/Fulfillment'
        grandTotal:
          $ref: '#/components/schemas/MonetaryAmount'
        id:
          type: string
          description: Unique Order id.
          examples:
          - 585d498fdee9f31a60284a37
        internalNotes:
          type: array
          description: Array of internal notes added to the order by the merchant.
          items:
            $ref: '#/components/schemas/OrderNote'
        lineItems:
          type: array
          description: Array of purchased line items; line items describe what product or product variant was purchased, how many of that item were purchased, and additional details.
          items:
            $ref: '#/components/schemas/LineItem'
        modifiedOn:
          type: string
          description: ISO 8601 UTC date and time string; represents when the order was last modified.
          format: date-time
          examples:
          - '2016-12-23T15:58:07.187Z'
        orderNumber:
          type: string
          description: Unique, sequential number for the Order.
          examples:
          - '3'
        paymentState:
          $ref: '#/components/schemas/PaymentState'
        priceTaxInterpretation:
          type: string
          description: Indicates whether lineItems.unitPricePaid includes tax. Values may be EXCLUSIVE or INCLUSIVE.
          examples:
          - EXCLUSIVE
        refundedTotal:
          $ref: '#/components/schemas/MonetaryAmount'
        shippingAddress:
          $ref: '#/components/schemas/Address'
        shippingLines:
          type: array
          description: Array of shipping line items; describes the shipping options chosen at checkout.
          items:
            $ref: '#/components/schemas/ShippingLine'
        shippingOptionName:
          type: string
          description: the specific shipping service name selected at checkout (e.g. "USPS Ground Advantage", "Royal Mail Tracked 48").
        shippingOptionServiceType:
          type: string
          description: The carrier service type identifier.
          enum:
          - FEDEX_GROUND
          - FEDEX_GROUND_HOME_DELIVERY
          - FEDEX_PRIORITY_OVERNIGHT
          - FEDEX_STANDARD_OVERNIGHT
          - FEDEX_2_DAY
          - FEDEX_2_DAY_AM
          - FEDEX_EXPRESS_SAVER
          - FEDEX_FIRST_FREIGHT
          - FEDEX_FREIGHT_PRIORITY
          - FEDEX_FREIGHT_ECONOMY
          - FEDEX_FIRST_OVERNIGHT
          - FEDEX_SAME_DAY
          - FEDEX_SAME_DAY_CITY
          - FEDEX_EUROPE_FIRST_INTERNATIONAL_PRIORITY
          - FEDEX_INTERNATIONAL_ECONOMY
          - FEDEX_INTERNATIONAL_FIRST
          - FEDEX_INTERNATIONAL_PRIORITY
          - FEDEX_INTERNATIONAL_ECONOMY_FREIGHT
          - FEDEX_INTERNATIONAL_PRIORITY_FREIGHT
          - UPS_GROUND
          - UPS_NEXT_DAY_AIR
          - UPS_NEXT_DAY_AIR_SAVER
          - UPS_NEXT_DAY_AIR_EARLY_AM
          - UPS_TWO_DAY_AIR
          - UPS_THREE_DAY_SELECT
          - UPS_TWO_DAY_AIR_AM
          - USPS_UNKNOWN
          - USPS_FIRST_CLASS
          - USPS_PRIORITY
          - USPS_EXPRESS
          - USPS_STANDARD
          - USPS_ALL
          - USPS_ONLINE
          - OTHER
        shippingTotal:
          $ref: '#/components/schemas/MonetaryAmount'
        subtotal:
          $ref: '#/components/schemas/MonetaryAmount'
        taxTotal:
          $ref: '#/components/schemas/MonetaryAmount'
        testmode:
          type: boolean
          description: If true, the order is a test order created using a payment method in test mode.
    OrderFulfillmentRequest:
      type: object
      properties:
        shipments:
          type: array
          description: Array of shipment data.
          items:
            $ref: '#/components/schemas/CreateOrderShipmentRequest'
        shouldSendNotification:
          type: boolean
          description: Indicates whether the customer should receive an email notification about the added shipments.
    OrderCreateFulfillmentStatus:
      type: string
      description: Current fulfillment status of the order. Value may be PENDING or FULFILLED.
      enum:
      - PENDING
      - FULFILLED
    TaxInterpretation:
      type: string
      description: Indicates that lineItems.unitPricePaid includes tax. Values may be EXCLUSIVE or INCLUSIVE.
      enum:
      - INCLUSIVE
      - EXCLUSIVE
    AddressRequest:
      type: object
      properties:
        address1:
          type: string
        address2:
          type: string
        city:
          type: string
        countryCode:
          type: string
        firstName:
          type: string
        lastName:
          type: string
        phone:
          type: string
        postalCode:
          type: string
        state:
          type: string
      description: Customer's shipping address.
    OrderNote:
      type: object
      properties:
        content:
          type: string
          description: Content for the note
          examples:
          - First note
      description: Array of internal notes added to the order by the merchant.
    VariantOption:
      type: object
      properties:
        optionName:
          type: string
          description: The name of the option (e.g. color, size, material)
          examples:
          - Size
        value:
          type: string
          description: The shopper-selected value for the option (e.g. red, small, cotton)
          examples:
          - Large
      description: Array of variant options; represents variant choices made by the customer. Null for download and gift card products.
    CreateOrderShipmentRequest:
      required:
      - carrierName
      - service
      - shipDate
      - trackingNumber
      type: object
      properties:
        carrierName:
          maxLength: 100
          type: string
          description: Name of the carrier handling the shipment.
        service:
          maxLength: 100
          type: string
          description: Carrier's level of service for shipping.
        shipDate:
          type: string
          description: ISO 8601 UTC date and time string. Represents the moment the shipment occurred.
          format: date-time
        trackingNumber:
          maxLength: 100
          type: string
          description: Carrier's parcel tracking number.
        trackingUrl:
          type: string
          description: URL provided by carrier to track the shipment; must adhere to valid URL formatting.
      description: Array of shipping fulfillments; up to 100 entries. Describes shipment information for the order.
    StandardErrorPayload:
      type: object
      properties:
        contextId:
          type: string
        details:
          type: object
        message:
          type: string
        subtype:
          type: string
          enum:
          - MISSING_ARGUMENT
          - INVALID_ARGUMENT
          - INVALID_CONTENT_TYPE
          - CONCURRENT_MODIFICATION
          - INSUFFICIENT_STOCK
          - STOCK_NOT_TRACKED
          - STOCK_EXCEEDS_MAX
          - CURRENCY_MISMATCH
          - MEASUREMENT_STANDARD_MISMATCH
          - INSUFFICIENT_PRODUCT_VARIANTS
          - URL_SLUG_UNAVAILABLE
          - SKU_UNAVAILABLE
          - STORE_PAGE_NOT_FOUND
          - STORE_PAGE_PRODUCT_LIMIT_REACHED
          - IMAGE_LIMIT_REACHED
          - WEBHOOK_SUBSCRIPTION_LIMIT_REACHED
          - MISSING_SCOPE
          - PROFILE_CANNOT_ACCEPT_MARKETING
          - ENTITY_LIMIT_REACHED
          - PRODUCT_UPDATE_CONFLICT
          - DUPLICATE_USER_CONFLICT
          - PROMO_CODE_CONFLICT
          - INVENTORY_ITEM_NOT_FOUND
          - PRODUCT_IMAGE_NOT_FOUND
          - PRODUCT_VARIANT_NOT_FOUND
          - OAUTH_TOKEN_REQUIRED
          - FORBIDDEN_RESOURCE
          - OPERATION_NOT_ALLOWED_FOR_PRODUCT_TYPE
        type:
          type: string
          enum:
          - INVALID_REQUEST_ERROR
          - AUTHORIZATION_ERROR
          - WEBSITE_EXPIRED
          - METHOD_NOT_ALLOWED
          - CONFLICT
          - TOO_MANY_REQUESTS
          - SERVER_ERROR
          - SERVICE_UNAVAILABLE
    CreateOrderRequest:
      required:
      - channelName
      - createdOn
      - externalOrderReference
      - fulfillments
      - grandTotal
      - lineItems
      - priceTaxInterpretation
      type: object
      properties:
        billingAddress:
          $ref: '#/components/schemas/AddressRequest'
        channelName:
          maxLength: 30
          type: string
          description: Name of third-party sales channel.
        createdOn:
          type: string
          description: ISO 8601 UTC date and time string. Represents the date and time when the order was placed through the third-party sales channel.
          format: date-time
        customerEmail:
          type: string
          format: email
          description: Email address provided at checkout on the third-party sales channel.
          examples:
          - john.doe@example.com
        discountLines:
          type: array
          description: Array of discount line items. Describes the promotions redeemed during checkout.
          items:
            $ref: '#/components/schemas/CreateDiscountLineRequest'
        discountTotal:
          $ref: '#/components/schemas/MonetaryAmount'
        externalOrderReference:
          maxLength: 200
          type: string
          description: Order reference identifier used by the third-party sales channel.
        fulfilledOn:
          type: string
          description: ISO 8601 UTC date and time string. Represents the moment the order was fulfilled. Required if fulfillmentStatus is FULFILLED.
          format: date-time
        fulfillmentStatus:
          $ref: '#/components/schemas/OrderCreateFulfillmentStatus'
        fulfillments:
          type: array
          description: Array of shipping fulfillments; up to 100 entries. Describes shipment information for the order.
          items:
            $ref: '#/components/schemas/CreateOrderShipmentRequest'
        grandTotal:
          $ref: '#/components/schemas/MonetaryAmount'
        inventoryBehavior:
          $ref: '#/components/schemas/CreateOrderInventoryBehavior'
        lineItems:
          type: array
          description: Array of purchased line items; cannot be empty.
          items:
            $ref: '#/components/schemas/CreateLineItemRequest'
        priceTaxInterpretation:
          $ref: '#/components/schemas/TaxInterpretation'
        shippingAddress:
          $ref: '#/components/schemas/AddressRequest'
        shippingLines:
          type: array
          description: Array of shipping line items. Describes the shipping options chosen at checkout. Currently accepts only one shipping entry.
          items:
            $ref: '#/components/schemas/CreateShippingLineRequest'
        shippingTotal:
          $ref: '#/components/schemas/MonetaryAmount'
        shopperFulfillmentNotificationBehavior:
          $ref: '#/components/schemas/ShopperFulfillmentNotificationBehavior'
        subtotal:
          $ref: '#/components/schemas/MonetaryAmount'
        taxTotal:
          $ref: '#/components/schemas/MonetaryAmount'
    Address:
      type: object
      properties:
        address1:
          type: string
          description: Primary street address
          examples:
          - 459 Broadway
        address2:
          type: string
          description: Secondary address line
        city:
          type: string
          description: City
          examples:
          - New York
        countryCode:
          type: string
          description: ISO 3166-1 alpha-2 country code
          examples:
          - US
        firstName:
          type: string
          description: First name
          examples:
          - Bob
        lastName:
          type: string
          description: Last name
          examples:
          - Loblaw
        phone:
          type: string
          description: Phone number
          examples:
          - '5553334444'
        postalCode:
          type: string
          description: Postal or ZIP code
          examples:
          - '10003'
        state:
          type: string
          description: State or province
          examples:
          - NY
      description: Customer's shipping address provided at checkout or, for recurring subscription orders, the customer's current mailing address.
    PaymentState:
      type: string
      description: Current state of payment for the order.
      enum:
      - NOT_CHARGED
      - AUTHORIZED
      - PAID
      - REFUNDED
      - PENDING
      - FAILED
      - REFUND_PENDING
      - REFUND_FAILED
      - PARTIALLY_PAID
    FormItem:
      type: object
      properties:
        label:
          type: string
          description: The name of the form field
          examples:
          - How did you hear about us?
        value:
          type: string
          description: The value of the field, as entered by the shopper
          examples:
          - Facebook
      description: Array of form data submitted via the checkout page.
    CreateLineItemRequest:
      required:
      - lineItemType
      - quantity
      - unitPricePaid
      type: object
      properties:
        lineItemType:
          $ref: '#/components/schemas/OrderCreateLineItemType'
        nonSaleUnitPrice:
          $ref: '#/components/schemas/MonetaryAmount'
        quantity:
          type: integer
          description: Amount of the item purchased. 1,000,000 limit.
          format: int32
        title:
          type: string
          description: Title of the custom line item.
        unitPricePaid:
          $ref: '#/components/schemas/MonetaryAmount'
        variantId:
          type: string
          description: Required if lineItemType is PHYSICAL_PRODUCT. Unique id of the ProductVariant sold.
      description: Array of purchased line items; cannot be empty.
    DiscountLine:
      type: object
      properties:
        amount:
          $ref: '#/components/schemas/MonetaryAmount'
        description:
          type: string
          description: A plain-English description of the promotion
          examples:
          - 20% off all orders over $50
        name:
          type: string
          description: Name of the promotion
          examples:
          - Summer Sale - 20% Off
        promoCode:
          type: string
          description: The user-entered promo code that triggered the discount
          examples:
          - SUMMER20
      description: Array of discount line items; describes the promotions redeemed during checkout.
    CreateShippingLineRequest:
      required:
      - amount
      - method
      type: object
      properties:
        amount:
          $ref: '#/components/schemas/MonetaryAmount'
        method:
          maxLength: 100
          type: string
          description: Description of the shipping option.
      description: Array of shipping line items. Describes the shipping options chosen at checkout. Currently accepts only one shipping entry.
    OrderListResponse:
      type: object
      properties:
        pagination:
          examples:
          - hasNextPage: true
            nextPageCursor: ewogICJhIiA6ICI2OWNhOWExZjgxNGMwYTY0MmIwMTIzYzkiLAogICJiIiA6ICJJRCIKfQ
            nextPageUrl: /1.0/commerce/orders?cursor=ewogICJhIiA6ICI2OWNhOWExZjgxNGMwYTY0MmIwMTIzYzkiLAogICJiIiA6ICJJRCIKfQ
          type: object
          properties:
            hasNextPage:
              type: boolean
            nextPageCursor:
              type: string
            nextPageUrl:
              type: string
        result:
          type: array
          items:
            $ref: '#/components/schemas/Order'
    OrderCreateLineItemType:
      type: string
      description: Product type sold; values may be PHYSICAL_PRODUCT or CUSTOM.
      enum:
      - PHYSICAL_PRODUCT
      - CUSTOM
    FulfillmentStatus:
      type: string
      description: 'Current fulfillment status of the order. Value may be: PENDING, FULFILLED, or CANCELED.'
      enum:
      - PENDING
      - FULFILLED
      - CANCELED
    Customization:
      type: object
      description: A customization option applied to a line item
      properties:
        label:
          type: string
          description: Display label of the customization option
        value:
          type: string
          description: Customer-selected value for this customization
    Money:
      type: object
      description: A monetary value with currency
      properties:
        value:
          type: string
          description: Decimal string representation of the monetary amount
          pattern: ^-?\d+(\.\d+)?$
        currency:
          type: string
          description: ISO 4217 three-letter currency code
          pattern: ^[A-Z]{3}$
    FulfillOrderRequest:
      type: object
      description: Request body for marking order line items as fulfilled
      required:
      - shouldSendNotification
      - shipments
      properties:
        shouldSendNotification:
          type: boolean
          description: Whether to send a fulfillment notification email to the customer
        shipments:
          type: array
          description: Shipment tracking details for the fulfilled items
          items:
            $ref: '#/components/schemas/Shipment'
    Order_2:
      type: object
      description: An order placed on a Squarespace merchant site
      properties:
        id:
          type: string
          description: Unique identifier for the order
        orderNumber:
          type: integer
          description: Human-readable sequential order number displayed to customers
        createdOn:
          type: string
          format: date-time
          description: ISO 8601 UTC timestamp when the order was created
        modifiedOn:
          type: string
          format: date-time
          description: ISO 8601 UTC timestamp when the order was last modified
        channel:
          type: string
          description: The sales channel through which the order was placed, such as SQUARESPACE or an external channel name
        testmode:
          type: boolean
          description: Indicates whether the order was placed in test mode
        customerEmail:
          type: string
          format: email
          description: Email address of the customer who placed the order
        billingAddress:
          $ref: '#/components/schemas/Address_2'
        shippingAddress:
          $ref: '#/components/schemas/Address_2'
        fulfillmentStatus:
          type: string
          description: Current fulfillment status of the order
          enum:
          - PENDING
          - FULFILLED
          - CANCELED
        lineItems:
          type: array
          description: List of products and quantities included in the order
          items:
            $ref: '#/components/schemas/LineItem_2'
        fulfillments:
          type: array
          description: List of fulfillment records associated with the order
          items:
            $ref: '#/components/schemas/Fulfillment_2'
        totals:
          $ref: '#/components/schemas/OrderTotals'
        formSubmission:
          type: array
          description: Custom form fields submitted with the order
          items:
            $ref: '#/components/schemas/FormField'
        refundedTotal:
          $ref: '#/components/schemas/Money'
        priceTaxInterpretation:
          type: string
          description: Indicates whether product prices are tax-inclusive or tax-exclusive
          enum:
          - EXCLUSIVE
          - INCLUSIVE
    Address_2:
      type: object
      description: A postal address for billing or shipping
      properties:
        firstName:
          type: string
          description: First name of the recipient
        lastName:
          type: string
          description: Last name of the recipient
        address1:
          type: string
          description: Primary street address line
        address2:
          type: string
          description: Secondary address line such as apartment or suite number
        city:
          type: string
          description: City name
        state:
          type: string
          description: State, province, or region code
        countryCode:
          type: string
          description: ISO 3166-1 alpha-2 country code
          pattern: ^[A-Z]{2}$
        postalCode:
          type: string
          description: Postal or ZIP code
        phone:
          type: string
          description: Phone number associated with the address
    CreateOrderRequest_2:
      type: object
      description: Request body for creating a new order
      required:
      - lineItems
      - billingAddress
      - shippingAddress
      - customerEmail
      - totals
      properties:
        externalOrderReference:
          type: string
          description: External reference identifier from the originating sales channel
        customerEmail:
          type: string
          format: email
          description: Email address of the customer who placed the order
        billingAddress:
          $ref: '#/components/schemas/Address_2'
        shippingAddress:
          $ref: '#/components/schemas/Address_2'
        lineItems:
          type: array
          description: Products and quantities included in the order
          items:
            $ref: '#/components/schemas/LineItem_2'
        totals:
          $ref: '#/components/schemas/OrderTotals'
        fulfillments:
          type: array
          description: Initial fulfillment records for the order
          items:
            $ref: '#/components/schemas/Fulfillment_2'
        channel:
          type: string
          description: Name of the external sales channel the order was imported from
    FormField:
      type: object
      description: A custom form field submitted with an order
      properties:
        label:
          type: string
          description: Display label of the form field
        value:
          type: string
          description: Value submitted by the customer for this field
    Pagination:
      type: object
      description: Pagination metadata included with list responses
      properties:
        hasNextPage:
          type: boolean
          description: Indicates whether additional pages of results are available
        nextPageCursor:
          type: string
          description: Cursor value to pass in the next request to retrieve the next page
        nextPageUrl:
          type: string
          format: uri
          description: Full URL for retrieving the next page of results
    LineItem_2:
      type: object
      description: A single product line in an order
      properties:
        id:
          type: string
          description: Unique identifier for the line item
        variantId:
          type: string
          description: Unique identifier of the product variant
        sku:
          type: string
          description: Stock keeping unit identifier for the product variant
        productId:
          type: string
          description: Unique identifier of the parent product
        productName:
          type: string
          description: Display name of the product at the time of purchase
        quantity:
          type: integer
          minimum: 1
          description: Number of units ordered
        unitPricePaid:
          $ref: '#/components/schemas/Money'
        customizations:
          type: array
          description: Customer-provided customizations applied to the line item
          items:
            $ref: '#/components/schemas/Customization'
        imageUrl:
          type: string
          format: uri
          description: URL of the product image at the time of purchase
        lineItemType:
          type: string
          description: The type of product represented by this line item
          enum:
          - PHYSICAL
          - DIGITAL
          - SERVICE
          - GIFT_CARD
    OrderTotals:
      type: object
      description: Monetary totals for an order
      properties:
        subtotal:
          $ref: '#/components/schemas/Money'
        shippingTotal:
          $ref: '#/components/schemas/Money'
        taxTotal:
          $ref: '#/components/schemas/Money'
        discountTotal:
          $ref: '#/components/schemas/Money'
        grandTotal:
          $ref: '#/components/schemas/Money'
        giftCardRedemptionTotal:
          $ref: '#/components/schemas/Money'
    Error:
      type: object
      description: Standard error response returned by the Squarespace API
      properties:
        type:
          type: string
          description: Machine-readable error type identifier
        subtype:
          type: string
          description: Optional more specific error subtype
        message:
          type: string
          description: Human-readable description of the error
        statusCode:
          type: integer
          description: HTTP status code associated with the error
    Fulfillment_2:
      type: object
      description: A fulfillment record indicating that part or all of an order has shipped
      properties:
        shipDate:
          type: string
          format: date-time
          description: ISO 8601 UTC timestamp when the shipment was sent
        carrierName:
          type: string
          description: Name of the shipping carrier
        service:
          type: string
          description: Name of the shipping service level used
        trackingNumber:
          type: string
          description: Tracking number assigned by the carrier
        trackingUrl:
          type: string
          format: uri
          description: URL to track the shipment on the carrier website
    Shipment:
      type: object
      description: Shipment details for a fulfillment record
      properties:
        shipDate:
          type: string
          format: date-time
          description: ISO 8601 UTC timestamp when the shipment was dispatched
        carrierName:
          type: string
          description: Name of the shipping carrier
        service:
          type: string
          description: Name of the shipping service used
        trackingNumber:
          type: string
          description: Carrier-assigned tracking number for the shipment
        trackingUrl:
          type: string
          format: uri
          description: URL to the carrier's tracking page for this shipment
  responses:
    NotFound:
      description: The requested resource was not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    TooManyRequests:
      description: Rate limit exceeded
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    BadRequest:
      description: The request was malformed or contained invalid parameters
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Forbidden:
      description: The authenticated user does not have permission to access this resource
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Unauthorized:
      description: Authentication credentials are missing or invalid
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  parameters:
    orderId:
      name: orderId
      in: path
      description: The unique identifier of the order
      required: true
      schema:
        type: string
    cursor:
      name: cursor
      in: query
      description: Pagination cursor from a previous response's pagination.nextPageCursor field. Omit or leave empty to retrieve the first page.
      required: false
      schema:
        type: string
  securitySchemes:
    Authorization:
      in: header
      scheme: bearer
      type: http
    bearerAuth:
      type: http
      scheme: bearer
      description: Authenticate using an API key or OAuth access token. Include the token in the Authorization header as "Bearer YOUR_TOKEN".
externalDocs:
  description: Squarespace Commerce API Documentation
  url: https://developers.squarespace.com/commerce-apis/overview
x-refined-from:
- squarespace-commerce-api-v2-openapi.json
- squarespace-orders-api-openapi.yml
