openapi: 3.2.0
info:
  title: Squarespace Products API
  version: '1.0'
  description: 'Operations tagged Products across 2 of this provider''s published API definitions: squarespace-commerce-api-v2-openapi.json, squarespace-products-api-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.squarespace.com
  description: Commerce API
- url: https://api.squarespace.com/1.0
  description: Production Server
tags:
- name: Products
  x-zudoku-collapsed: true
paths:
  /v2/commerce/products:
    get:
      description: Retrieves information for products; products can be filtered within a date range and by product type. The response contains product information in a Product, up to 50 Products ordered by their modification date (modifiedOn), and supports dynamic cursors for pagination.
      operationId: getProducts
      parameters:
      - in: query
        name: modifiedAfter
        required: false
        schema:
          type: string
      - in: query
        name: modifiedBefore
        required: false
        schema:
          type: string
      - in: query
        name: cursor
        required: false
        schema:
          type: string
      - in: query
        name: query
        required: false
        schema:
          type: string
      - in: query
        name: type
        required: false
        schema:
          type: array
          items:
            type: string
      - in: header
        name: Authorization
        required: true
        description: API key or OAuth access token
        schema:
          type: string
          default: Bearer YOUR_API_KEY_OR_OAUTH_TOKEN
      - in: header
        name: User-Agent
        required: true
        description: User Agent
        schema:
          type: string
          default: YOUR_CUSTOM_APP_DESCRIPTION
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedProductListResponseV2'
          description: A paginated list of products.
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardErrorPayload'
          description: Bad request. The cursor parameter contains an invalid value.
      summary: List products
      tags:
      - Products
      security:
      - Authorization: []
    post:
      description: Creates a product with appropriate subresources based on product type.
      operationId: createProduct
      requestBody:
        content:
          application/json:
            schema:
              oneOf:
              - $ref: '#/components/schemas/CreateGiftCardProductRequest'
              - $ref: '#/components/schemas/CreatePhysicalProductRequest'
              - $ref: '#/components/schemas/CreateServiceProductRequest'
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductV2'
          description: The product was created successfully.
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardErrorPayload'
          description: Bad request. The request body does not conform to the required specification.
        '405':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardErrorPayload'
          description: Method not allowed. The Product requested is not a supported product type for this operation.
        '409':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardErrorPayload'
          description: Conflict. The request conflicts with the current state of the resource.
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardErrorPayload'
          description: Too many requests. The rate limit for this endpoint has been exceeded.
      summary: Create product
      tags:
      - Products
      parameters:
      - in: header
        name: Authorization
        required: true
        description: API key or OAuth access token
        schema:
          type: string
          default: Bearer YOUR_API_KEY_OR_OAUTH_TOKEN
      - in: header
        name: User-Agent
        required: true
        description: User Agent
        schema:
          type: string
          default: YOUR_CUSTOM_APP_DESCRIPTION
      security:
      - Authorization: []
    servers:
    - url: https://api.squarespace.com
      description: Commerce API
  /v2/commerce/products/{productIdCsvs}:
    get:
      description: Retrieves information for specific products, including information for any variants or images. Up to 50 products can be retrieved per request.
      operationId: getSpecificProducts
      parameters:
      - in: path
        name: productIdCsvs
        required: true
        schema:
          type: string
      - in: header
        name: Authorization
        required: true
        description: API key or OAuth access token
        schema:
          type: string
          default: Bearer YOUR_API_KEY_OR_OAUTH_TOKEN
      - in: header
        name: User-Agent
        required: true
        description: User Agent
        schema:
          type: string
          default: YOUR_CUSTOM_APP_DESCRIPTION
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductListResponseV2'
          description: The requested products.
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardErrorPayload'
          description: Bad request. The provided product IDs are invalid or exceed the maximum of 50.
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardErrorPayload'
          description: Not found. One or more requested Products were not found.
      summary: Get products
      tags:
      - Products
      security:
      - Authorization: []
    servers:
    - url: https://api.squarespace.com
      description: Commerce API
  /v2/commerce/products/{productId}:
    delete:
      operationId: deleteProduct
      parameters:
      - in: path
        name: productId
        required: true
        schema:
          type: string
      - in: header
        name: Authorization
        required: true
        description: API key or OAuth access token
        schema:
          type: string
          default: Bearer YOUR_API_KEY_OR_OAUTH_TOKEN
      - in: header
        name: User-Agent
        required: true
        description: User Agent
        schema:
          type: string
          default: YOUR_CUSTOM_APP_DESCRIPTION
      responses:
        '204':
          description: The Product was deleted successfully.
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardErrorPayload'
          description: Not found. The requested Product was not found.
        '405':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardErrorPayload'
          description: Method not allowed. The Product requested is not a supported product type for this operation.
      summary: Delete specified product
      tags:
      - Products
      security:
      - Authorization: []
    post:
      description: Updates information for a product. The endpoint supports partial updates.
      operationId: updateProduct
      parameters:
      - in: path
        name: productId
        required: true
        schema:
          type: string
      - in: header
        name: Authorization
        required: true
        description: API key or OAuth access token
        schema:
          type: string
          default: Bearer YOUR_API_KEY_OR_OAUTH_TOKEN
      - in: header
        name: User-Agent
        required: true
        description: User Agent
        schema:
          type: string
          default: YOUR_CUSTOM_APP_DESCRIPTION
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateProductRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductV2'
          description: Return the updated Product
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardErrorPayload'
          description: Bad request. The request body does not conform to the required specification.
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardErrorPayload'
          description: Not found. The requested Product was not found.
        '405':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardErrorPayload'
          description: Method not allowed. The Product requested is not a supported product type for this operation.
        '409':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardErrorPayload'
          description: Conflict. The provided URL slug is already in use.
      summary: Update product
      tags:
      - Products
      security:
      - Authorization: []
    servers:
    - url: https://api.squarespace.com
      description: Commerce API
  /v2/commerce/products/{productId}/images:
    post:
      description: Uploads an image for a product. Uploading an image doesn't set the product's featured image. A successful request creates a ProductImage subresource of the Product.
      operationId: uploadProductImage
      parameters:
      - in: path
        name: productId
        required: true
        schema:
          type: string
      - in: header
        name: Authorization
        required: true
        description: API key or OAuth access token
        schema:
          type: string
          default: Bearer YOUR_API_KEY_OR_OAUTH_TOKEN
      - in: header
        name: User-Agent
        required: true
        description: User Agent
        schema:
          type: string
          default: YOUR_CUSTOM_APP_DESCRIPTION
      requestBody:
        content:
          multipart/form-data: {}
        required: true
      responses:
        '202':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UploadProductImageResponse'
          description: The request was accepted and the uploaded image is being processed.
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardErrorPayload'
          description: Bad request. The request body does not conform to specification.
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardErrorPayload'
          description: Not found. The requested Product was not found.
        '409':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardErrorPayload'
          description: Conflict. The specified Product has reached its limit of 100 images.
      summary: Upload product image
      tags:
      - Products
      security:
      - Authorization: []
    servers:
    - url: https://api.squarespace.com
      description: Commerce API
  /v2/commerce/products/{productId}/images/{imageId}:
    delete:
      operationId: deleteProductImage
      parameters:
      - in: path
        name: productId
        required: true
        schema:
          type: string
      - in: path
        name: imageId
        required: true
        schema:
          type: string
      - in: header
        name: Authorization
        required: true
        description: API key or OAuth access token
        schema:
          type: string
          default: Bearer YOUR_API_KEY_OR_OAUTH_TOKEN
      - in: header
        name: User-Agent
        required: true
        description: User Agent
        schema:
          type: string
          default: YOUR_CUSTOM_APP_DESCRIPTION
      responses:
        '204':
          description: The ProductImage was deleted successfully.
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardErrorPayload'
          description: Not found. Either the Product or the ProductImage was not found.
      summary: Delete one product image
      tags:
      - Products
      security:
      - Authorization: []
    post:
      description: Updates information for a product image. Currently, the endpoint only supports updates to the alt text for an image.
      operationId: updateProductImage
      parameters:
      - in: path
        name: productId
        required: true
        schema:
          type: string
      - in: path
        name: imageId
        required: true
        schema:
          type: string
      - in: header
        name: Authorization
        required: true
        description: API key or OAuth access token
        schema:
          type: string
          default: Bearer YOUR_API_KEY_OR_OAUTH_TOKEN
      - in: header
        name: User-Agent
        required: true
        description: User Agent
        schema:
          type: string
          default: YOUR_CUSTOM_APP_DESCRIPTION
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateProductImageRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductImage'
          description: Return the updated ProductImage
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardErrorPayload'
          description: Bad request. The request body does not conform to the required specification.
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardErrorPayload'
          description: Not found. Either the Product or the ProductImage was not found.
      summary: Update product image
      tags:
      - Products
      security:
      - Authorization: []
    servers:
    - url: https://api.squarespace.com
      description: Commerce API
  /v2/commerce/products/{productId}/images/{imageId}/order:
    post:
      description: Updates the ordering of a product image on the product details page.
      operationId: updateProductImageOrder
      parameters:
      - in: path
        name: productId
        required: true
        schema:
          type: string
      - in: path
        name: imageId
        required: true
        schema:
          type: string
      - in: header
        name: Authorization
        required: true
        description: API key or OAuth access token
        schema:
          type: string
          default: Bearer YOUR_API_KEY_OR_OAUTH_TOKEN
      - in: header
        name: User-Agent
        required: true
        description: User Agent
        schema:
          type: string
          default: YOUR_CUSTOM_APP_DESCRIPTION
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateProductImageOrderRequest'
        required: true
      responses:
        '204':
          description: The request was successful.
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardErrorPayload'
          description: Bad request. The request body does not conform to the required specification.
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardErrorPayload'
          description: Not found. The ProductImage specified in the URL was not found.
        '405':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardErrorPayload'
          description: Method not allowed. The Product requested is not a supported product type for this operation.
      summary: Update product image order
      tags:
      - Products
      security:
      - Authorization: []
    servers:
    - url: https://api.squarespace.com
      description: Commerce API
  /v2/commerce/products/{productId}/images/{imageId}/status:
    get:
      description: Retrieves the processing status for an uploaded product image. A successful request indicates that a ProductImage is processing, ready, or in an error state.
      operationId: getProductImageProcessingStatus
      parameters:
      - in: path
        name: productId
        required: true
        schema:
          type: string
      - in: path
        name: imageId
        required: true
        schema:
          type: string
      - in: header
        name: Authorization
        required: true
        description: API key or OAuth access token
        schema:
          type: string
          default: Bearer YOUR_API_KEY_OR_OAUTH_TOKEN
      - in: header
        name: User-Agent
        required: true
        description: User Agent
        schema:
          type: string
          default: YOUR_CUSTOM_APP_DESCRIPTION
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductImageProcessingStatus'
          description: Return the processing status for the ProductImage
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardErrorPayload'
          description: Not found. Either the Product or the ProductImage was not found.
      summary: Get image processing status
      tags:
      - Products
      security:
      - Authorization: []
    servers:
    - url: https://api.squarespace.com
      description: Commerce API
  /v2/commerce/products/{productId}/variants:
    post:
      description: Creates a variant of a product. Creating a variant for a physical or service product requires that the product already has at least one attribute.
      operationId: createProductVariant
      parameters:
      - in: path
        name: productId
        required: true
        schema:
          type: string
      - in: header
        name: Authorization
        required: true
        description: API key or OAuth access token
        schema:
          type: string
          default: Bearer YOUR_API_KEY_OR_OAUTH_TOKEN
      - in: header
        name: User-Agent
        required: true
        description: User Agent
        schema:
          type: string
          default: YOUR_CUSTOM_APP_DESCRIPTION
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateVariantRequestV2'
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductVariantV2'
          description: The ProductVariant was created successfully.
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardErrorPayload'
          description: Bad request. The request body does not conform to the required specification.
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardErrorPayload'
          description: Not found. The requested Product was not found.
        '405':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardErrorPayload'
          description: Method not allowed. The Product requested does not support variants.
        '409':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardErrorPayload'
          description: Conflict. The provided SKU is already in use by the requested Product, or the Product has reached its limit of 250 variants.
      summary: Create product variant
      tags:
      - Products
      security:
      - Authorization: []
    servers:
    - url: https://api.squarespace.com
      description: Commerce API
  /v2/commerce/products/{productId}/variants/{variantId}:
    delete:
      operationId: deleteProductVariant
      parameters:
      - in: path
        name: productId
        required: true
        schema:
          type: string
      - in: path
        name: variantId
        required: true
        schema:
          type: string
      - in: header
        name: Authorization
        required: true
        description: API key or OAuth access token
        schema:
          type: string
          default: Bearer YOUR_API_KEY_OR_OAUTH_TOKEN
      - in: header
        name: User-Agent
        required: true
        description: User Agent
        schema:
          type: string
          default: YOUR_CUSTOM_APP_DESCRIPTION
      responses:
        '204':
          description: The ProductVariant was deleted successfully.
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardErrorPayload'
          description: Not found. Either the Product or the ProductVariant was not found.
        '405':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardErrorPayload'
          description: Method not allowed. The Product requested does not support variants.
        '409':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardErrorPayload'
          description: Conflict. The ProductVariant requested is the only variant for the Product and cannot be deleted.
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardErrorPayload'
          description: Too many requests. The rate limit for this endpoint has been exceeded.
      summary: Delete one product variant
      tags:
      - Products
      security:
      - Authorization: []
    post:
      description: Updates a variant of a product. The endpoint supports partial updates.
      operationId: updateProductVariant
      parameters:
      - in: path
        name: productId
        required: true
        schema:
          type: string
      - in: path
        name: variantId
        required: true
        schema:
          type: string
      - in: header
        name: Authorization
        required: true
        description: API key or OAuth access token
        schema:
          type: string
          default: Bearer YOUR_API_KEY_OR_OAUTH_TOKEN
      - in: header
        name: User-Agent
        required: true
        description: User Agent
        schema:
          type: string
          default: YOUR_CUSTOM_APP_DESCRIPTION
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateVariantRequestV2'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductVariantV2'
          description: Return the updated ProductVariant
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardErrorPayload'
          description: Bad request. The request body does not conform to the required specification.
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardErrorPayload'
          description: Not found. Either the Product or the ProductVariant was not found.
        '405':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardErrorPayload'
          description: Method not allowed. The Product requested does not support variants.
        '409':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardErrorPayload'
          description: Conflict. The provided SKU is already in use by the requested Product.
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardErrorPayload'
          description: Too many requests. The rate limit for this endpoint has been exceeded.
      summary: Update product variant
      tags:
      - Products
      security:
      - Authorization: []
    servers:
    - url: https://api.squarespace.com
      description: Commerce API
  /v2/commerce/products/{productId}/variants/{variantId}/image:
    post:
      description: Assigns a product image to a product variant. Specifying imageId of null will delete the association.
      operationId: associateProductVariantImage
      parameters:
      - in: path
        name: productId
        required: true
        schema:
          type: string
      - in: path
        name: variantId
        required: true
        schema:
          type: string
      - in: header
        name: Authorization
        required: true
        description: API key or OAuth access token
        schema:
          type: string
          default: Bearer YOUR_API_KEY_OR_OAUTH_TOKEN
      - in: header
        name: User-Agent
        required: true
        description: User Agent
        schema:
          type: string
          default: YOUR_CUSTOM_APP_DESCRIPTION
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AssociateProductImageToVariantRequest'
      responses:
        '204':
          description: The request was successful.
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardErrorPayload'
          description: Bad request. The imageId field does not represent a ProductImage belonging to the specified Product.
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardErrorPayload'
          description: Not found. Either the Product or the ProductVariant was not found.
        '405':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardErrorPayload'
          description: Method not allowed. The Product requested does not support variants.
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardErrorPayload'
          description: Too many requests. The rate limit for this endpoint has been exceeded.
      summary: Associate variant image
      tags:
      - Products
      security:
      - Authorization: []
    servers:
    - url: https://api.squarespace.com
      description: Commerce API
  /commerce/products:
    servers:
    - url: https://api.squarespace.com/1.0
      description: Production Server
    get:
      operationId: listProducts
      summary: Retrieve All Products
      description: Returns a paginated list of products in the merchant's catalog. By default returns up to 50 products per page. Use the cursor parameter from the previous response's pagination.nextPageCursor to retrieve subsequent pages. Each product includes its basic metadata, variant information, and associated images.
      tags:
      - Products
      parameters:
      - $ref: '#/components/parameters/cursor'
      - name: type
        in: query
        description: Filter products by product type
        required: false
        schema:
          type: string
          enum:
          - PHYSICAL
          - DIGITAL
          - SERVICE
          - GIFT_CARD
      responses:
        '200':
          description: Successful response with paginated list of products
          content:
            application/json:
              schema:
                type: object
                properties:
                  products:
                    type: array
                    items:
                      $ref: '#/components/schemas/Product'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
      - bearerAuth: []
    post:
      operationId: createProduct
      summary: Create a Product
      description: Creates a new product in the merchant's catalog with appropriate subresources based on product type. Supports creation of physical, service, gift card, and digital download products. The request must include the product type, name, and at least one variant. Images can be added after the product is created using the product image endpoints.
      tags:
      - Products
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateProductRequest'
      responses:
        '200':
          description: Product created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Product'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
      - bearerAuth: []
  /commerce/products/{productIds}:
    servers:
    - url: https://api.squarespace.com/1.0
      description: Production Server
    get:
      operationId: getProducts
      summary: Retrieve Specific Products
      description: Retrieves detailed information for up to 50 specific products by their product IDs. Product IDs should be provided as a comma-separated list in the path. Returns full product data including all variants and images.
      tags:
      - Products
      parameters:
      - $ref: '#/components/parameters/productIds'
      responses:
        '200':
          description: Successful response with the requested products
          content:
            application/json:
              schema:
                type: object
                properties:
                  products:
                    type: array
                    items:
                      $ref: '#/components/schemas/Product'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
      - bearerAuth: []
    post:
      operationId: updateProduct
      summary: Update a Product
      description: Updates information for an existing product. The endpoint supports partial updates so any optional or conditional field may be omitted from the request. Only the fields provided in the request body will be updated. This endpoint accepts a single product ID in the path when updating.
      tags:
      - Products
      parameters:
      - $ref: '#/components/parameters/productIds'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateProductRequest_2'
      responses:
        '200':
          description: Product updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Product'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
      - bearerAuth: []
    delete:
      operationId: deleteProduct
      summary: Delete a Product
      description: Deletes a physical product and all its associated variants and images from the merchant's catalog. This action is permanent and cannot be undone. Accepts a single product ID in the path.
      tags:
      - Products
      parameters:
      - $ref: '#/components/parameters/productIds'
      responses:
        '204':
          description: Product deleted successfully
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
      - bearerAuth: []
  /commerce/products/{productId}/variants:
    servers:
    - url: https://api.squarespace.com/1.0
      description: Production Server
    post:
      operationId: createProductVariant
      summary: Create a Product Variant
      description: Adds a new variant to an existing product. A variant represents a specific configuration of a product, such as a particular size and color combination. Each variant has its own SKU, price, and inventory tracking settings.
      tags:
      - Products
      parameters:
      - $ref: '#/components/parameters/productId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateVariantRequest'
      responses:
        '200':
          description: Product variant created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductVariant'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
      - bearerAuth: []
  /commerce/products/{productId}/variants/{variantId}:
    servers:
    - url: https://api.squarespace.com/1.0
      description: Production Server
    post:
      operationId: updateProductVariant
      summary: Update a Product Variant
      description: Updates attributes for an existing product variant such as price, SKU, stock settings, and option values. Supports partial updates.
      tags:
      - Products
      parameters:
      - $ref: '#/components/parameters/productId'
      - $ref: '#/components/parameters/variantId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateVariantRequest'
      responses:
        '200':
          description: Product variant updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductVariant'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
      - bearerAuth: []
  /commerce/products/{productId}/images:
    servers:
    - url: https://api.squarespace.com/1.0
      description: Production Server
    post:
      operationId: uploadProductImage
      summary: Upload a Product Image
      description: Uploads a new image to a product using a publicly accessible image URL. The image is fetched from the provided URL and stored by Squarespace. An optional alt text can be provided for accessibility.
      tags:
      - Products
      parameters:
      - $ref: '#/components/parameters/productId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UploadImageRequest'
      responses:
        '200':
          description: Product image uploaded successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductImage_2'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
      - bearerAuth: []
  /commerce/products/{productId}/images/{imageId}:
    servers:
    - url: https://api.squarespace.com/1.0
      description: Production Server
    post:
      operationId: updateProductImage
      summary: Update a Product Image
      description: Updates the alt text of an existing product image. The image itself cannot be replaced; delete and re-upload to change the image file.
      tags:
      - Products
      parameters:
      - $ref: '#/components/parameters/productId'
      - $ref: '#/components/parameters/imageId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateImageRequest'
      responses:
        '200':
          description: Product image updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductImage_2'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
      - bearerAuth: []
    delete:
      operationId: deleteProductImage
      summary: Delete a Product Image
      description: Permanently removes an image from a product. This action cannot be undone.
      tags:
      - Products
      parameters:
      - $ref: '#/components/parameters/productId'
      - $ref: '#/components/parameters/imageId'
      responses:
        '204':
          description: Product image deleted successfully
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
      - bearerAuth: []
  /commerce/products/{productId}/images/reorder:
    servers:
    - url: https://api.squarespace.com/1.0
      description: Production Server
    post:
      operationId: reorderProductImages
      summary: Reorder Product Images
      description: Changes the display order of images for a product by providing an ordered list of image IDs. The order of image IDs in the request determines the display order, with the first image becoming the primary product image.
      tags:
      - Products
      parameters:
      - $ref: '#/components/parameters/productId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - imageIds
              properties:
                imageIds:
                  type: array
                  description: Ordered list of image IDs defining the new display order
                  items:
                    type: string
      responses:
        '200':
          description: Product images reordered successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Product'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
      - bearerAuth: []
components:
  schemas:
    ServiceProduct:
      title: ServiceProduct
      required:
      - createdOn
      - id
      - modifiedOn
      - storePageId
      - type
      type: object
      description: A SERVICE product.
      properties:
        createdOn:
          type: string
          format: date-time
        description:
          type: string
        id:
          type: string
        images:
          type: array
          items:
            $ref: '#/components/schemas/ProductImage'
        isVisible:
          type: boolean
        modifiedOn:
          type: string
          format: date-time
        name:
          type: string
        seoOptions:
          $ref: '#/components/schemas/SeoOptions'
        storePageId:
          type: string
        tags:
          type: array
          items:
            type: string
        type:
          $ref: '#/components/schemas/ProductTypeV2'
        url:
          type: string
        urlSlug:
          type: string
        variantAttributes:
          type: array
          items:
            type: string
        variants:
          type: array
          items:
            $ref: '#/components/schemas/ServiceProductVariant'
      discriminator:
        propertyName: type
    DigitalProduct:
      title: DigitalProduct
      required:
      - createdOn
      - id
      - modifiedOn
      - storePageId
      - type
      type: object
      description: A DIGITAL product.
      properties:
        createdOn:
          type: string
          format: date-time
        description:
          type: string
        id:
          type: string
        images:
          type: array
          items:
            $ref: '#/components/schemas/ProductImage'
        isVisible:
          type: boolean
        modifiedOn:
          type: string
          format: date-time
        name:
          type: string
        seoOptions:
          $ref: '#/components/schemas/SeoOptions'
        storePageId:
          type: string
        tags:
          type: array
          items:
            type: string
        type:
          $ref: '#/components/schemas/ProductTypeV2'
        url:
          type: string
        urlSlug:
          type: string
        digitalGood:
          $ref: '#/components/schemas/DigitalGood'
        pricing:
          $ref: '#/components/schemas/ProductPricing'
      discriminator:
        propertyName: type
    CreateVariantRequestV2:
      required:
      - pricing
      - sku
      type: object
      properties:
        attributes:
          type: object
          additionalProperties:
            type: string
            description: Specifies attribute-value pairs for the variant. 100 char limit per key and per value with no more than six key-value pairs. Supported for PHYSICAL products only.
          description: Specifies attribute-value pairs for the variant. 100 char limit per key and per value with no more than six key-value pairs. Supported for PHYSICAL products only.
        gtin:
          type: string
          description: Global Trade Item Number (GTIN). Optional. Must be 8, 12, 13, or 14 numeric digits. Whitespace, hyphens, and underscores are stripped before validation. Supported for PHYSICAL products only.
          examples:
          - 01234567890128
        mpn:
          type: string
          description: Manufacturer Part Number (MPN). Optional. Must be alphanumeric and 70 characters or fewer. Whitespace, hyphens, and underscores are stripped before validation. Supported for PHYSICAL products only.
          examples:
          - MPN-1234
        pricing:
          $ref: '#/components/schemas/ProductPricing'
        shippingMeasurements:
          $ref: '#/components/schemas/ProductMeasurements'
        sku:
          maxLength: 60
          type: string
          description: Merchant-defined code that identifies the product variant. Value must be unique among variants. Leading and trailing whitespace is removed.
        stock:
          $ref: '#/components/schemas/ProductStock'
    MonetaryAmount:
      type: object
      properties:
        currency:
          type: object
          description: ISO 4217 currency code.
          properties:
            currencyCode:
              type: string
            defaultFractionDigits:
              type: integer
              format: int32
            displayName:
              type: string
            numericCode:
              type: integer
              format: int32
            numericCodeAsString:
              type: string
            symbol:
              type: string
          examples:
          - USD
        value:
          type: number
          description: Decimal monetary value.
          examples:
          - 49.99
      description: A monetary amount with currency code and decimal value.
    ChangeMonetaryAmount:
      type: object
      properties:
        present:
          type: boolean
        value:
          $ref: '#/components/schemas/MonetaryAmount'
    ChangeSeoOptions:
      type: object
      properties:
        present:
          type: boolean
        value:
          $ref: '#/components/schemas/SeoOptions'
      description: Options for search engine optimization.
    ImageProcessingStatus:
      type: string
      enum:
      - QUEUED
      - PROCESSING
      - READY
      - ERROR
    ProductWeight:
      type: object
      properties:
        unit:
          $ref: '#/components/schemas/ProductWeightUnit'
        value:
          type: number
          description: Weight amount.
          format: float
      description: Weight of the variant.
    ProductVariantV2:
      type: object
      properties:
        id:
          type: string
        image:
          $ref: '#/components/schemas/ProductImage'
        sku:
          type: string
      description: A product variant. The shape depends on the product type.
      oneOf:
      - $ref: '#/components/schemas/PhysicalProductVariant'
      - $ref: '#/components/schemas/GiftCardProductVariant'
      - $ref: '#/components/schemas/ServiceProductVariant'
    ProductStock:
      type: object
      properties:
        quantity:
          type: integer
          description: Number of units that can be purchased.
          format: int32
        unlimited:
          type: boolean
          description: Indicates whether the variant has unlimited stock.
      description: Available stock for the variant. Present for PHYSICAL products only.
    CreatePhysicalProductVariantRequest:
      type: object
      properties:
        attributes:
          type: object
          additionalProperties:
            type: string
        gtin:
          type: string
          description: Global Trade Item Number (GTIN). Optional. Must be 8, 12, 13, or 14 numeric digits. Whitespace, hyphens, and underscores are stripped before validation.
        mpn:
          type: string
          description: Manufacturer Part Number (MPN). Optional. Must be alphanumeric and 70 characters or fewer. Whitespace, hyphens, and underscores are stripped before validation.
        pricing:
          $ref: '#/components/schemas/FullProductPricing'
        shippingMeasurements:
          $ref: '#/components/schemas/ProductMeasurements'
        sku:
          type: string
        stock:
          $ref: '#/components/schemas/ProductStock'
    UpdateProductRequest:
      type: object
      properties:
        description:
          $ref: '#/components/schemas/ChangeString'
        isVisible:
          $ref: '#/components/schemas/ChangeBoolean'
        name:
          $ref: '#/components/schemas/ChangeString'
        pricing:
          $ref: '#/components/schemas/ChangeUpdateProductPricing'
        productAttributeNames:
          $ref: '#/components/schemas/ChangeListString'
        seoData:
          $ref: '#/components/schemas/ChangeSeoOptions'
        tags:
          $ref: '#/components/schemas/ChangeListString'
        urlSlug:
          $ref: '#/components/schemas/ChangeString'
    ChangeUpdateProductMeasurements:
      type: object
      properties:
        present:
          type: boolean
        value:
          $ref: '#/components/schemas/UpdateProductMeasurements'
      description: Measurements of the variant when it's shipped. Supported for PHYSICAL products only.
    ProductTypeV2:
      type: string
      enum:
      - PHYSICAL
      - SERVICE
      - GIFT_CARD
      - DIGITAL
    CreateGiftCardProductVariantRequest:
      type: object
      properties:
        pricing:
          $ref: '#/components/schemas/SimpleProductPricing'
        sku:
          type: string
    ChangeProductWeight:
      type: object
      properties:
        present:
          type: boolean
        value:
          $ref: '#/components/schemas/ProductWeight'
    CreateServiceProductVariantRequest:
      type: object
      properties:
        attributes:
          type: object
          additionalProperties:
            type: string
        pricing:
          $ref: '#/components/schemas/FullProductPricing'
        sku:
          type: string
        stock:
          $ref: '#/components/schemas/ProductStock'
    ProductListResponseV2:
      type: object
      properties:
        products:
          type: array
          items:
            oneOf:
            - $ref: '#/components/schemas/DigitalProduct'
            - $ref: '#/components/schemas/GiftCardProduct'
            - $ref: '#/components/schemas/PhysicalProduct'
            - $ref: '#/components/schemas/ServiceProduct'
    ServiceProductVariant:
      title: ServiceProductVariant
      type: object
      properties:
        attributes:
          type: object
          additionalProperties:
            type: string
        id:
          type: string
        image:
          $ref: '#/components/schemas/ProductImage'
        pricing:
          $ref: '#/components/schemas/FullProductPricing'
        sku:
          type: string
        stock:
          $ref: '#/components/schemas/ProductStock'
      description: A variant of a SERVICE product.
    UpdateProductImageRequest:
      type: object
      properties:
        altText:
          $ref: '#/components/schemas/ChangeString'
    PhysicalProductVariant:
      title: PhysicalProductVariant
      type: object
      properties:
        attributes:
          type: object
          additionalProperties:
            type: string
        gtin:
          type: string
        id:
          type: string
        image:
          $ref: '#/components/schemas/ProductImage'
        mpn:
          type: string
        pricing:
          $ref: '#/components/schemas/FullProductPricing'
        shippingMeasurements:
          $ref: '#/components/schemas/ProductMeasurements'
        sku:
          type: string
        stock:
          $ref: '#/components/schemas/ProductStock'
      description: A variant of a PHYSICAL product.
    SimpleProductPricing:
      type: object
      properties:
        basePrice:
          $ref: '#/components/schemas/MonetaryAmount'
    FullProductPricing:
      type: object
      properties:
        basePrice:
          $ref: '#/components/schemas/MonetaryAmount'
        onSale:
          type: boolean
        salePrice:
          $ref: '#/components/schemas/MonetaryAmount'
    ChangeBoolean:
      type: object
      properties:
        present:
          type: boolean
        value:
          type: boolean
    ChangeMapStringString:
      type: object
      properties:
        present:
          type: boolean
        value:
          type: object
          additionalProperties:
            type: string
      description: Specifies attribute-value pairs for the variant. Supported for PHYSICAL products only.
    ProductPricing:
      type: object
      properties:
        basePrice:
          $ref: '#/components/schemas/MonetaryAmount'
        onSale:
          type: boolean
          description: Indicates whether the variant is sold according to its sale price. Present for PHYSICAL products only.
        salePrice:
          $ref: '#/components/schemas/MonetaryAmount'
      description: Present for DIGITAL products only. Digital products don't have variants, so pricing is at the product level.
    ProductDimensionsUnit:
      type: string
      description: 'Unit of measurement. Supported values: `INCH`, `CENTIMETER`.'
      enum:
      - CENTIMETER
      - INCH
    UpdateProductPricing:
      type: object
      properties:
        basePrice:
          $ref: '#/components/schemas/ChangeMonetaryAmount'
        onSale:
          $ref: '#/components/schemas/ChangeBoolean'
        salePrice:
          $ref: '#/components/schemas/ChangeMonetaryAmount'
    ProductV2:
      required:
      - createdOn
      - id
      - modifiedOn
      - storePageId
      - type
      type: object
      properties:
        createdOn:
          type: string
          format: date-time
        description:
          type: string
        id:
          type: string
        images:
          type: array
          items:
            $ref: '#/components/schemas/ProductImage'
        isVisible:
          type: boolean
        modifiedOn:
          type: string
          format: date-time
        name:
          type: string
        seoOptions:
          $ref: '#/components/schemas/SeoOptions'
        storePageId:
          type: string
        tags:
          type: array
          items:
            type: string
        type:
          $ref: '#/components/schemas/ProductTypeV2'
        url:
          type: string
        urlSlug:
          type: string
      discriminator:
        propertyName: type
    ProductWeightUnit:
      type: string
      description: 'Unit of measurement. Supported values: `KILOGRAM`, `POUND`.'
      enum:
      - KILOGRAM
      - POUND
    PhysicalProduct:
      title: PhysicalProduct
      required:
      - createdOn
      - id
      - modifiedOn
      - storePageId
      - type
      type: object
      description: A PHYSICAL product.
      properties:
        createdOn:
          type: string
          format: date-time
        description:
          type: string
        id:
          type: string
        images:
          type: array
          items:
            $ref: '#/components/schemas/ProductImage'
        isVisible:
          type: boolean
        modifiedOn:
          type: string
          format: date-time
        name:
          type: string
        seoOptions:
          $ref: '#/components/schemas/SeoOptions'
        storePageId:
          type: string
        tags:
          type: array
          items:
            type: string
        type:
          $ref: '#/components/schemas/ProductTypeV2'
        url:
          type: string
        urlSlug:
          type: string
        variantAttributes:
          type: array
          items:
            type: string
        variants:
          type: array
          items:
            $ref: '#/components/schemas/PhysicalProductVariant'
      discriminator:
        propertyName: type
    DigitalGood:
      type: object
      properties:
        filename:
          type: string
          description: Filename of the downloadable file.
        id:
          type: string
          description: Unique DigitalGood id.
      description: Present for DIGITAL products only.
    CreateServiceProductRequest:
      title: CreateServiceProductRequest
      type: object
      description: Request payload to create a SERVICE product.
      properties:
        description:
          type: string
        isVisible:
          type: boolean
        name:
          type: string
        storePageId:
          type: string
        tags:
          type: array
          items:
            type: string
        type:
          type: string
        urlSlug:
          type: string
        variantAttributes:
          type: array
          items:
            type: string
        variants:
          type: array
          items:
            $ref: '#/components/schemas/CreateServiceProductVariantRequest'
      discriminator:
        propertyName: type
    StandardErrorPayload:
      type: object
      properties:
        contextId:
          type: string
        details:
          type: object
        message:
          type: string
        subtype:
          type: string
          enum:
          - MISSING_ARGUMENT
          - INVALID_ARGUMENT
          - INVALID_CONTENT_TYPE
          - CONCURRENT_MODIFICATION
          - INSUFFICIENT_STOCK
          - STOCK_NOT_TRACKED
          - STOCK_EXCEEDS_MAX
          - CURRENCY_MISMATCH
          - MEASUREMENT_STANDARD_MISMATCH
          - INSUFFICIENT_PRODUCT_VARIANTS
          - URL_SLUG_UNAVAILABLE
          - SKU_UNAVAILABLE
          - STORE_PAGE_NOT_FOUND
          - STORE_PAGE_PRODUCT_LIMIT_REACHED
          - IMAGE_LIMIT_REACHED
          - WEBHOOK_SUBSCRIPTION_LIMIT_REACHED
          - MISSING_SCOPE
          - PROFILE_CANNOT_ACCEPT_MARKETING
          - ENTITY_LIMIT_REACHED
          - PRODUCT_UPDATE_CONFLICT
          - DUPLICATE_USER_CONFLICT
          - PROMO_CODE_CONFLICT
          - INVENTORY_ITEM_NOT_FOUND
          - PRODUCT_IMAGE_NOT_FOUND
          - PRODUCT_VARIANT_NOT_FOUND
          - OAUTH_TOKEN_REQUIRED
          - FORBIDDEN_RESOURCE
          - OPERATION_NOT_ALLOWED_FOR_PRODUCT_TYPE
        type:
          type: string
          enum:
          - INVALID_REQUEST_ERROR
          - AUTHORIZATION_ERROR
          - WEBSITE_EXPIRED
          - METHOD_NOT_ALLOWED
          - CONFLICT
          - TOO_MANY_REQUESTS
          - SERVER_ERROR
          - SERVICE_UNAVAILABLE
    ProductDimensions:
      type: object
      properties:
        height:
          type: number
          description: Height of the variant.
          format: float
        length:
          type: number
          description: Length of the variant.
          format: float
        unit:
          $ref: '#/components/schemas/ProductDimensionsUnit'
        width:
          type: number
          description: Width of the variant.
          format: float
      description: Physical dimensions of the variant.
    SeoOptions:
      type: object
      properties:
        description:
          type: string
        title:
          type: string
      description: Options for search engine optimization.
    ChangeString:
      type: object
      properties:
        present:
          type: boolean
        value:
          type: string
      description: Optional; HTTPS URL to receive webhook notifications.
    CreateGiftCardProductRequest:
      title: CreateGiftCardProductRequest
      type: object
      description: Request payload to create a GIFT_CARD product.
      properties:
        description:
          type: string
        isVisible:
          type: boolean
        name:
          type: string
        storePageId:
          type: string
        tags:
          type: array
          items:
            type: string
        type:
          type: string
        urlSlug:
          type: string
        variants:
          type: array
          items:
            $ref: '#/components/schemas/CreateGiftCardProductVariantRequest'
      discriminator:
        propertyName: type
    GiftCardProduct:
      title: GiftCardProduct
      required:
      - createdOn
      - id
      - modifiedOn
      - storePageId
      - type
      type: object
      description: A GIFT_CARD product.
      properties:
        createdOn:
          type: string
          format: date-time
        description:
          type: string
        id:
          type: string
        images:
          type: array
          items:
            $ref: '#/components/schemas/ProductImage'
        isVisible:
          type: boolean
        modifiedOn:
          type: string
          format: date-time
        name:
          type: string
        seoOptions:
          $ref: '#/components/schemas/SeoOptions'
        storePageId:
          type: string
        tags:
          type: array
          items:
            type: string
        type:
          $ref: '#/components/schemas/ProductTypeV2'
        url:
          type: string
        urlSlug:
          type: string
        variants:
          type: array
          items:
            $ref: '#/components/schemas/GiftCardProductVariant'
      discriminator:
        propertyName: type
    ProductImage:
      type: object
      properties:
        altText:
          type: string
          description: Alt text for the image; impacts SEO and appears in search results.
        availableFormats:
          type: array
          description: Available image sizes. Use with `images.url` and a `format` query parameter to retrieve the image at a particular width.
          items:
            type: string
            description: Available image sizes. Use with `images.url` and a `format` query parameter to retrieve the image at a particular width.
        id:
          type: string
          description: Unique ProductImage id.
        orderIndex:
          type: integer
          description: Position of the image in the product's image list.
          format: int32
        originalSize:
          type: object
          description: Image size when first uploaded.
        url:
          type: string
          description: Absolute URL of the image hosted on Squarespace.
      description: Product image assigned to the variant.
    CreatePhysicalProductRequest:
      title: CreatePhysicalProductRequest
      type: object
      description: Request payload to create a PHYSICAL product.
      properties:
        description:
          type: string
        isVisible:
          type: boolean
        name:
          type: string
        storePageId:
          type: string
        tags:
          type: array
          items:
            type: string
        type:
          type: string
        urlSlug:
          type: string
        variantAttributes:
          type: array
          items:
            type: string
        variants:
          type: array
          items:
            $ref: '#/components/schemas/CreatePhysicalProductVariantRequest'
      discriminator:
        propertyName: type
    ChangeListString:
      type: object
      properties:
        present:
          type: boolean
        value:
          type: array
          items:
            type: string
      description: 'Optional; list of event topics that trigger a webhook notification. Possible values include: extension.uninstall, order.create, order.update.'
    ProductMeasurements:
      type: object
      properties:
        dimensions:
          $ref: '#/components/schemas/ProductDimensions'
        weight:
          $ref: '#/components/schemas/ProductWeight'
      description: Measurements of the variant when it's shipped. Present for PHYSICAL products only.
    GiftCardProductVariant:
      title: GiftCardProductVariant
      type: object
      properties:
        id:
          type: string
        image:
          $ref: '#/components/schemas/ProductImage'
        pricing:
          $ref: '#/components/schemas/SimpleProductPricing'
        sku:
          type: string
      description: A variant of a GIFT_CARD product.
    ChangeProductDimensions:
      type: object
      properties:
        present:
          type: boolean
        value:
          $ref: '#/components/schemas/ProductDimensions'
    AssociateProductImageToVariantRequest:
      required:
      - imageId
      type: object
      properties:
        imageId:
          $ref: '#/components/schemas/ChangeString'
    UpdateProductMeasurements:
      type: object
      properties:
        dimensions:
          $ref: '#/components/schemas/ChangeProductDimensions'
        weight:
          $ref: '#/components/schemas/ChangeProductWeight'
    UpdateVariantRequestV2:
      type: object
      properties:
        attributes:
          $ref: '#/components/schemas/ChangeMapStringString'
        gtin:
          $ref: '#/components/schemas/ChangeString'
        mpn:
          $ref: '#/components/schemas/ChangeString'
        pricing:
          $ref: '#/components/schemas/ChangeUpdateProductPricing'
        shippingMeasurements:
          $ref: '#/components/schemas/ChangeUpdateProductMeasurements'
        sku:
          $ref: '#/components/schemas/ChangeString'
    ProductImageProcessingStatus:
      type: object
      properties:
        id:
          type: string
        status:
          $ref: '#/components/schemas/ImageProcessingStatus'
    UpdateProductImageOrderRequest:
      type: object
      properties:
        afterImageId:
          $ref: '#/components/schemas/ChangeString'
    UploadProductImageResponse:
      type: object
      properties:
        imageId:
          type: string
          description: Unique ProductImage id.
    ChangeUpdateProductPricing:
      type: object
      properties:
        present:
          type: boolean
        value:
          $ref: '#/components/schemas/UpdateProductPricing'
      description: Pricing data for the product.
    PaginatedProductListResponseV2:
      type: object
      properties:
        pagination:
          examples:
          - hasNextPage: true
            nextPageCursor: ewogICJhIiA6ICI2OWNhOWExZjgxNGMwYTY0MmIwMTIzYzkiLAogICJiIiA6ICJJRCIKfQ
            nextPageUrl: /v2/commerce/products?cursor=ewogICJhIiA6ICI2OWNhOWExZjgxNGMwYTY0MmIwMTIzYzkiLAogICJiIiA6ICJJRCIKfQ
          type: object
          properties:
            hasNextPage:
              type: boolean
            nextPageCursor:
              type: string
            nextPageUrl:
              type: string
        products:
          type: array
          items:
            oneOf:
            - $ref: '#/components/schemas/DigitalProduct'
            - $ref: '#/components/schemas/GiftCardProduct'
            - $ref: '#/components/schemas/PhysicalProduct'
            - $ref: '#/components/schemas/ServiceProduct'
    Product:
      type: object
      description: A product in the Squarespace merchant catalog
      properties:
        id:
          type: string
          description: Unique identifier for the product
        type:
          type: string
          description: The product type determining available features and behaviors
          enum:
          - PHYSICAL
          - DIGITAL
          - SERVICE
          - GIFT_CARD
        storePageId:
          type: string
          description: Identifier of the store page where this product is listed
        name:
          type: string
          description: Display name of the product shown to customers
        description:
          type: string
          description: HTML description of the product
        url:
          type: string
          format: uri
          description: Relative URL path to the product page on the merchant site
        urlSlug:
          type: string
          description: URL-friendly slug for the product page
        tags:
          type: array
          description: List of tags associated with the product for organization
          items:
            type: string
        isVisible:
          type: boolean
          description: Whether the product is visible to customers on the store
        variants:
          type: array
          description: List of product variants with specific options, prices, and stock
          items:
            $ref: '#/components/schemas/ProductVariant'
        images:
          type: array
          description: List of images associated with the product
          items:
            $ref: '#/components/schemas/ProductImage_2'
        createdOn:
          type: string
          format: date-time
          description: ISO 8601 UTC timestamp when the product was created
        modifiedOn:
          type: string
          format: date-time
          description: ISO 8601 UTC timestamp when the product was last modified
    UpdateProductRequest_2:
      type: object
      description: Request body for updating an existing product (supports partial updates)
      properties:
        name:
          type: string
          description: Updated display name for the product
        description:
          type: string
          description: Updated HTML description of the product
        urlSlug:
          type: string
          description: Updated URL-friendly slug for the product page
        tags:
          type: array
          description: Updated list of tags to associate with the product
          items:
            type: string
        isVisible:
          type: boolean
          description: Updated visibility setting for the product
    VariantPricing:
      type: object
      description: Pricing information for a product variant
      properties:
        basePrice:
          $ref: '#/components/schemas/Money'
        salePrice:
          $ref: '#/components/schemas/Money'
        onSale:
          type: boolean
          description: Whether the variant is currently on sale at the salePrice
    UpdateVariantRequest:
      type: object
      description: Request body for updating a product variant (supports partial updates)
      properties:
        sku:
          type: string
          description: Updated stock keeping unit identifier
        pricing:
          $ref: '#/components/schemas/VariantPricing'
        stock:
          $ref: '#/components/schemas/VariantStock'
        attributes:
          type: object
          description: Updated option name to value mappings
          additionalProperties:
            type: string
    Money:
      type: object
      description: A monetary value with currency
      properties:
        value:
          type: string
          description: Decimal string representation of the monetary amount
          pattern: ^-?\d+(\.\d+)?$
        currency:
          type: string
          description: ISO 4217 three-letter currency code
          pattern: ^[A-Z]{3}$
    CreateVariantRequest:
      type: object
      description: Request body for creating a product variant
      required:
      - sku
      - pricing
      properties:
        sku:
          type: string
          description: Stock keeping unit identifier for the variant
        pricing:
          $ref: '#/components/schemas/VariantPricing'
        stock:
          $ref: '#/components/schemas/VariantStock'
        attributes:
          type: object
          description: Option name to value mappings for this variant
          additionalProperties:
            type: string
    UploadImageRequest:
      type: object
      description: Request body for uploading a product image from a URL
      required:
      - url
      properties:
        url:
          type: string
          format: uri
          description: Publicly accessible URL of the image to upload
        altText:
          type: string
          description: Alternative text for the image
    ProductImage_2:
      type: object
      description: An image associated with a product
      properties:
        id:
          type: string
          description: Unique identifier for the product image
        url:
          type: string
          format: uri
          description: URL of the stored product image
        altText:
          type: string
          description: Alternative text description for accessibility
        width:
          type: integer
          description: Width of the image in pixels
        height:
          type: integer
          description: Height of the image in pixels
    Pagination:
      type: object
      description: Pagination metadata included with list responses
      properties:
        hasNextPage:
          type: boolean
          description: Indicates whether additional pages of results are available
        nextPageCursor:
          type: string
          description: Cursor value to pass in the next request to retrieve the next page
        nextPageUrl:
          type: string
          format: uri
          description: Full URL for retrieving the next page of results
    ProductVariant:
      type: object
      description: A specific variant of a product with its own price, SKU, and stock
      properties:
        id:
          type: string
          description: Unique identifier for the variant
        sku:
          type: string
          description: Stock keeping unit identifier for the variant
        pricing:
          $ref: '#/components/schemas/VariantPricing'
        stock:
          $ref: '#/components/schemas/VariantStock'
        attributes:
          type: object
          description: Key-value pairs of option names to selected values for this variant
          additionalProperties:
            type: string
    VariantStock:
      type: object
      description: Stock tracking configuration for a product variant
      properties:
        quantity:
          type: integer
          description: Current stock quantity for the variant
          minimum: 0
        unlimited:
          type: boolean
          description: When true, the variant has unlimited stock
        backordered:
          type: boolean
          description: Whether the variant is currently on backorder
    Error:
      type: object
      description: Standard error response returned by the Squarespace API
      properties:
        type:
          type: string
          description: Machine-readable error type identifier
        subtype:
          type: string
          description: Optional more specific error subtype
        message:
          type: string
          description: Human-readable description of the error
        statusCode:
          type: integer
          description: HTTP status code associated with the error
    CreateProductRequest:
      type: object
      description: Request body for creating a new product
      required:
      - type
      - name
      - variants
      properties:
        type:
          type: string
          description: The product type
          enum:
          - PHYSICAL
          - DIGITAL
          - SERVICE
          - GIFT_CARD
        name:
          type: string
          description: Display name for the product
        description:
          type: string
          description: HTML description of the product
        urlSlug:
          type: string
          description: URL-friendly slug for the product page
        tags:
          type: array
          description: Tags to associate with the product
          items:
            type: string
        isVisible:
          type: boolean
          description: Whether to make the product visible immediately
        variants:
          type: array
          description: Initial variants for the product
          items:
            $ref: '#/components/schemas/CreateVariantRequest'
    UpdateImageRequest:
      type: object
      description: Request body for updating product image metadata
      properties:
        altText:
          type: string
          description: Updated alternative text for the image
  responses:
    NotFound:
      description: The requested resource was not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    TooManyRequests:
      description: Rate limit exceeded
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    BadRequest:
      description: The request was malformed or contained invalid parameters
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Forbidden:
      description: The authenticated user does not have permission to access this resource
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Unauthorized:
      description: Authentication credentials are missing or invalid
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  parameters:
    productIds:
      name: productIds
      in: path
      description: Comma-separated list of up to 50 product IDs. When used for single-product operations, provide a single product ID.
      required: true
      schema:
        type: string
    variantId:
      name: variantId
      in: path
      description: The unique identifier of the product variant
      required: true
      schema:
        type: string
    productId:
      name: productId
      in: path
      description: The unique identifier of the product
      required: true
      schema:
        type: string
    cursor:
      name: cursor
      in: query
      description: Pagination cursor from a previous response's pagination.nextPageCursor field. Omit or leave empty to retrieve the first page.
      required: false
      schema:
        type: string
    imageId:
      name: imageId
      in: path
      description: The unique identifier of the product image
      required: true
      schema:
        type: string
  securitySchemes:
    Authorization:
      in: header
      scheme: bearer
      type: http
    bearerAuth:
      type: http
      scheme: bearer
      description: Authenticate using an API key or OAuth access token. Include the token in the Authorization header as "Bearer YOUR_TOKEN".
externalDocs:
  description: Squarespace Commerce API Documentation
  url: https://developers.squarespace.com/commerce-apis/overview
x-refined-from:
- squarespace-commerce-api-v2-openapi.json
- squarespace-products-api-openapi.yml
